.klient:nth-child(even)
{background-color: beige;}

div[suma]{
    background-color: aqua;
}

div[suma="1500"]{
    background-color: coral;
}

div[biznesowy~="tak"]{
    color:violet;
}

div[biznesowy="tak"]{
    color:brown;
}

div [biznesowy*="moze"]{
    color: crimson;
}

div[suma$="60"]{
    color:goldenrod;
}

div[suma^="15"]{
    color:deeppink;
}

